.botonesDetalle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0px 20px;

}

.botonesDetalle>button {
    margin: 50px 20px 0px 20px;
}

.contenedorPrincipal {
    display: flex;
    justify-content: center;
}

.contenedorArticulo {
    border-top: 10px solid orangered;
    border-radius: 5px;
    background-color: #E1E1E1;
    width: 95%;
    height: 800px;
    margin: 5%;
}