.contenedorCategorias {
    display: flex;
    justify-content: center;
}

.cardsCategorias {
    width: 90%;
}

/* Card */

.cardCategoria {
    height: 300px;
}

.contenedorCard {
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
}

.imgCat {
    cursor: pointer;
    width: 100%;
    max-height: 250px;
    transition: 0.8s;
    border-radius: 10px;
    position: relative;
}

.divNombre {
    display: flex;
    justify-content: center;
}

.nombreCat {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 105px;
}

.imgCat:hover {
    box-shadow: 5px 5px 10px grey;
    transform: scale(1.01);
}

@media screen and (max-width: 575px) {
    .cardCategoria {
        height: 200px;
    }
    .nombreCat {
        font-size: 1rem;
        margin-top: 12%;
    }
}

@media screen and (min-width: 576px) {
    .cardCategoria {
        height: 250px;
    }
    .nombreCat {
        font-size: 1.3rem;
        margin-top: 13%;
    }
}

@media screen and (min-width: 768px) {
    .cardCategoria {
        height: 280px;
    }
    .nombreCat {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .cardCategoria {
        height: 300px;
    }
    .nombreCat {
        font-size: 1.8rem;
        margin-top: 11%;
    }
}

@media screen and (min-width: 1200px) {
    .nombreCat {
        font-size: 2rem;
        margin-top: 9%;
    }
}