.navBar2 {
    background-color: #ffd871;
    width: 100%;
    height: 80px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.contenedorUl {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contenedorUl>ul {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

.contenedorUl>ul>div {
    list-style: none;
    padding: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.8s;
    font-size: large;
    font-weight:bolder;
}
.link{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.contenedorUl>ul>div:hover {
    background-color: #bb9f51;
}

.divLogo {
    width: 50%;
    height: 100%;
    display: flex;
}

.imgLogo {
    width: 90px;
}
















/* .imgLogo {
    width: 50px;
}

.colorNavbar {
    background-color: #ffd871;
}

.colorBuscador {
    background-color: rgba(163, 159, 159, 0.712);
}

.buscadorStyles {
    margin-left: 200px;
    margin-right: 200px;
}

.cardsCategorias {
    gap: 10px;
    margin-left: 200px;
    margin-top: 50px;

}

.imgCat {
    width: 250px;
    padding-left: 0px;
} */