.spinner {
    margin: 0% 50% 0% 50%;
}

.texto{
    width: 100%;
}

.rendering {
    width: 45%;
}

@media screen and (max-width: 575px) {
    .rendering {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .rendering {
        width: 45%;
    }
}